body{font-family: 'Quicksand', sans-serif; 
    background-color:#FCF5C7;
    padding: 40px;
}

h1{color:#925925;
    font-size: 3.5em;
    padding: 50px;
    margin: 20px;
    text-align: center;
}

h2{color:#EC7D46; 
    font: 2em;
    text-decoration-line: underline;

}

div{
    padding: 3%;
}

img {
    float: right;
    width: 30%;
    height: auto;
    border-radius: 10px;
   
}
#one {
    color:#925925;
}
#two{
    color: cadetblue;
    font-size: 1.5em;
    text-align: right;
}
#three{

}
#four{

}
#five{

}